/* fonts.css */

/* General */

body {
    font-family: var(--font-family);
    color: var(--text);
    font-size: .9rem;
}

a {
    color: var(--text);
}

/* Media Quieries */

    /* Desktop */
    @media screen {
        
    }