/*global.css*/
:root {
    --text: #f0f0f0;
    --background: #171717;
    --primary: #e9e9e9;
    --secondary: #2fff9d;
    --accent: #7f7f7f;
    --font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*General Styling*/
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

/* h1,
h2,
h3,
h4,
h5 {

} */

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #242424;
}

/*Semantic Styling*/

header {
    background-color: rgb(6, 6, 6);
}

footer {
    background: rgb(246, 246, 246);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*Element Styling*/


/*Class Styling*/

    /* Nav Styling*/

    .default {
        cursor: default;
    }

    .conn-left {
        transition: 1s;
    }

    .conn-right {
        transition: 1s;
    }


    /*ID Styling*/

    #nav-logo {
        max-width: 10vw;
        width: auto;
    }



