/*global.css*/
:root {
    --background: #EBEBEB;
    --text: #242424;
    --secondary: #CDCDCD;
    --accent: #00A863;
    --font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*General Styling*/
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

/* p {

} */

/* h1,
h2,
h3,
h4,
h5 {

} */

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #242424;
}

/*Semantic Styling*/

header {
    background-color: var(--text);
}

nav {

}

main {

}

footer {
    background: rgb(246, 246, 246);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*Element Styling*/


/*Class Styling*/

    /* Nav Styling*/

    .conn-container {
        

    }

    .conn-left {
        
    }

    .conn-right {

    }


    /*ID Styling*/

    #nav-logo {
        max-width: 10vw;
        width: auto;
    }



