/* layout.css */

/* Grid Layout */



/* Flex Layout */

    /* General */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul {
        padding: 2rem;
    }

    /* Semantic */

    header {
        display: flex;
        flex-flow: column;
        position: fixed;
        width: 100vw;
    }

    nav {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    main {
        justify-content: center;
        max-width: 50rem;
        margin: auto;
    }

    footer {
        display: flex;
    }

    /* Elements */

    img {
        height: 100%;
        width: auto;
    }

    /* Classes */

    .conn-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

    }

    .material-symbols-outlined {
        padding-right: .25rem;
        cursor: default;
    }

    .nav-buttons {
        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }

    .hero-container {
        padding-top: 35vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .hero-content {
        margin-top: 5rem;
    }

    .crop-container {
        height: 13rem;
        width: 13rem;
    }



    .main-container {
        margin-top: 5rem;
    }

    .card-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .card-item {
        margin: 30px;
        padding: 50px;
        width: 60%;
    }

    .card-content {
        padding-top: 20px;
    }


    /* IDs */

    #conn-left {
        display: flex;
        align-items: center;
    }

    #conn-right {
        display: flex;
    }

    #nav-logo {
        max-width: 10vh;
        width: auto;
    }

    #nav-buttons {
        display: flex;
        align-items: center;
        justify-content:space-around;
        gap: 20px;
    }

/* ------------------------------------------------ */


/* Responsive Queries*/

    /*Tablet*/

    @media screen {
        /* Classes */

        /* IDs */
    }


    /*Desktop*/

    @media screen {
        /* Classes */

        /* IDs */
    }

    /* Tiny */

    @media screen {

        /* Classes */

        /* IDs */
        
    }


