/* layout.css */

/* Grid Layout */



/* Flex Layout */

    /* General */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul {
        padding: 0;
    }

    /* Semantic */

    header {
        display: flex;
        flex-flow: column;
        position: fixed;
        width: 100vw;
    }

    nav {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    main {
        justify-content: center;
        max-width: 50rem;
        margin: auto;
    }

    footer {
        display: flex;
    }

    /* Elements */

    /* Classes */

    .conn-container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

    }

    .material-symbols-outlined {
        padding-right: .25rem;
        cursor: default;
    }

    .nav-buttons {
        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }

    /* IDs */

    #conn-left {
        display: flex;
    }

    #conn-right {
        display: flex;
    }

    #nav-buttons {
        display: flex;
        align-items: center;
        justify-content:space-around;
        gap: 20px;
    }

    #talson-photo {
        max-height: 100px;
    }
/* ------------------------------------------------ */


/* Responsive Queries*/

    /*Tablet*/

    @media screen {
        /* Classes */

        /* IDs */
    }


    /*Desktop*/

    @media screen {
        /* Classes */

        /* IDs */
    }

    /* Tiny */

    @media screen {

        /* Classes */

        /* IDs */
        
    }


